<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.mytestapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="net.csdn.my.activity.OnLoadActivity" />
        <activity
            android:name="net.csdn.my.activity.LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="net.csdn.my.view.UserLoginView"
            android:launchMode="singleTop" />
        <activity
            android:name="net.csdn.my.view.UserRegisterView"
            android:launchMode="singleTop" />
        <activity
            android:name="net.csdn.my.activity.MainInterfaceActivity"
            android:launchMode="singleTask" />
        <activity android:name="net.csdn.my.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>